.vis-panel {
    box-sizing: border-box;
}

.vis-item-content {
    color:blue!important;
}

.vis-bottom .vis-text {
    font-weight: bolder;
}

.vis-item.red {
    color: white;
    background-color: red;
    border-color: darkred;
  }

  .vis-panel {
    box-sizing: border-box;
}

.timeline-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 9999;
}