data/dataset.zip filter=lfs diff=lfs merge=lfs -text
data/ filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
data/1993 filter=lfs diff=lfs merge=lfs -text
data/1994 filter=lfs diff=lfs merge=lfs -text
data/1995 filter=lfs diff=lfs merge=lfs -text
data/2004 filter=lfs diff=lfs merge=lfs -text
data/1992 filter=lfs diff=lfs merge=lfs -text
data/2013 filter=lfs diff=lfs merge=lfs -text
data/2017 filter=lfs diff=lfs merge=lfs -text
data/ocr_tests filter=lfs diff=lfs merge=lfs -text
data/1997 filter=lfs diff=lfs merge=lfs -text
data/1998 filter=lfs diff=lfs merge=lfs -text
data/1999 filter=lfs diff=lfs merge=lfs -text
data/output filter=lfs diff=lfs merge=lfs -text
data/1991 filter=lfs diff=lfs merge=lfs -text
data/2007 filter=lfs diff=lfs merge=lfs -text
data/pos_tagger filter=lfs diff=lfs merge=lfs -text
data/2002 filter=lfs diff=lfs merge=lfs -text
data/2012 filter=lfs diff=lfs merge=lfs -text
data/2014 filter=lfs diff=lfs merge=lfs -text
data/dump filter=lfs diff=lfs merge=lfs -text
data/testcases filter=lfs diff=lfs merge=lfs -text
data/1996 filter=lfs diff=lfs merge=lfs -text
data/2001 filter=lfs diff=lfs merge=lfs -text
data/2005 filter=lfs diff=lfs merge=lfs -text
data/2018 filter=lfs diff=lfs merge=lfs -text
data/codifier_results filter=lfs diff=lfs merge=lfs -text
data/1990 filter=lfs diff=lfs merge=lfs -text
data/2003 filter=lfs diff=lfs merge=lfs -text
data/2008 filter=lfs diff=lfs merge=lfs -text
data/2010 filter=lfs diff=lfs merge=lfs -text
data/2011 filter=lfs diff=lfs merge=lfs -text
data/2015 filter=lfs diff=lfs merge=lfs -text
data/2016 filter=lfs diff=lfs merge=lfs -text
data/2000 filter=lfs diff=lfs merge=lfs -text
data/2006 filter=lfs diff=lfs merge=lfs -text
data/2009 filter=lfs diff=lfs merge=lfs -text
