@import '~@angular/material/theming';

@mixin diff2html-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-dark: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $typographyConfig: mat-typography-config();
 
  
.d2h-wrapper {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.d2h-diff-table {
border-collapse: collapse;
font-size: 12px;
height: 19px;
width: 100%;
}

.d2h-diff-table tbody > tr > td {
padding: 0px;
border-spacing: 0px;
height: 105%;
}

.d2h-info {
background-color:mat-color($primary) !important;
color:  map-get($background, status-bar) !important;
border-color: map-get($foreground, secondary-text) !important;
}

// FILES
.d2h-file-wrapper {
  border-radius: 3px;
}
.d2h-file-header {
  display: none;
}
.d2h-file-stats {
  display: inline;
  font-size: 12px;
  text-align: center;
  max-width: 15%;
}

.d2h-files-diff {
  width: 100%;
  display: flex;
}
.d2h-file-diff {
  overflow-x: auto;
  overflow-y: hidden;
}
.d2h-file-side-diff {
  display: inline-block;
  overflow-x: auto;
  width: 50%;
}

.d2h-file-name {
  display: inline;
  height: 33px;
  max-width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


// CODE LINES


.d2h-lines-added {
  background-color: #ceffce;
  border: 1px solid #b4e2b4;
  color: #FFFFFF;
  border-radius: 5px 0 0 5px;
  padding: 2px;
  width: 25px;
}
.d2h-lines-deleted {
  background-color: #f7c8c8;
  border: 1px solid #e9aeae;
  color: #000000;
  border-radius: 0 5px 5px 0;
  padding: 2px;
  width: 25px;
}


.d2h-code-line {
  white-space: pre;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex;
  margin-left: 80px;
}

.d2h-code-side-line {
  white-space: pre;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-flex;
}

.d2h-code-line del,
.d2h-code-side-line del {
  display: inline-block;
  margin-top: -1px;
  text-decoration: none;
  background-color: mat-color($warn) !important; //#ffb6ba;
  border-radius: 0.2em;
}

.d2h-code-line ins,
.d2h-code-side-line ins {
  display: inline-block;
  margin-top: -1px;
  text-decoration: none;
  background-color: mat-color($accent) !important; // #97f295;
  border-radius: 0.2em;
  text-align: left; // TOCHECK
}

/*
* Changes Highlight
*/

.d2h-del {
background-color: mat-color($warn, lighter, 0.5) !important;
border-color: mat-color($warn, lighter) !important;
}

.d2h-ins {
background-color: mat-color($accent, lighter, 0.5) !important;
border-color: mat-color($accent, lighter) !important;
}

.d2h-info {
background-color: #f8fafd;
color: rgba(0, 0, 0, 0.3);
border-color: #d5e4f2;
}

.d2h-file-diff .d2h-del.d2h-change {
background-color: #fdf2d0;
}

.d2h-file-diff .d2h-ins.d2h-change {
background-color: #ded;
}

// Line numbers

.d2h-code-line-prefix {
  display: inline-flex;
  margin-right: 10px;
}
.line-num1 {
  display: inline-block;
  float: left;
  width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-num2 {
  display: inline-block;
  float: right;
  width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.d2h-code-linenumber {
  position: static;
  width: 52px;
  min-width: 65px;
  text-align: center;
  background-color: map-get($background, card) !important;
   color:  #eeeeee; //mat-color($foreground)!important;
  border-width: 0 1px 0 1px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid rgba(0, 0, 0, 0.34);
  border-right: 1px solid rgba(0, 0, 0, 0.34);
}

.d2h-code-side-linenumber {
  position: static;
  display: table-cell;
  width: 52px;
  min-width: 65px;
  text-align: center;
  height: 100%;
  background-color:  map-get($background, card) !important;
  color: map-get($foreground, text) !important;
  border-width: 0 1px 0 1px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid rgba(0, 0, 0, 0.34);
  border-right: 1px solid rgba(0, 0, 0, 0.34);
}



.d2h-code-side-emptyplaceholder,
.d2h-emptyplaceholder {
background-color: map-get($background, disabled-button) !important;
border-color: #e1e1e1;
}

.d2h-code-line-ctn {
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap;
  /*Chrome & Safari */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
}

}