html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif !important;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 60em;
  margin: auto;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 13px;
  padding:10px;
  padding-bottom:60px;
  height: 100%;
 }

@media (max-width: 684px) {
  body {
    font-size: 1.53rem; } }
@media (max-width: 382px) {
  body {
    font-size: 1.35rem; } }
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

h1 {
  font-size: 2.35em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

h4 {
  font-size: 1.5em;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

ol {
  text-align: justify;

}

small, sub, sup {
  font-size: 75%; }

hr {
  border-color: #338618; }

a {
  text-decoration: none;
  color: #338618; }
  a.navbar:hover {
    color: #5e5e5e;
    border-bottom: 2px solid #4a4a4a; }

ul {
  padding-left: 1.4em; }

li {
  margin-bottom: 0.4em; }

blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 3px solid #338618; }

img {
  max-width: 100%; }

/* Pre and Code */
pre {
  background-color: #C7E3BE;
  display: block;
  padding: 1em;
  overflow-x: auto; }

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #C7E3BE;
  white-space: pre-wrap; }

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre; }

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse; }

td, th {
  padding: 0.5em;
  border-bottom: 1px solid #C7E3BE; }

/* Buttons, forms and input */
input, textarea {
  border: 1px solid #4a4a4a;
  width: 100%;
}
input:focus, textarea:focus {
  border: 1px solid #338618;

}

textarea {
  width: 100% !important;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #338618;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #338618;
  cursor: pointer;
  box-sizing: border-box; }
  .button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    cursor: default;
    opacity: .5; }
  .button:focus, .button:hover, button:focus, button:hover, input[type="submit"]:focus, input[type="submit"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="button"]:focus, input[type="button"]:hover {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
    color: #f9f9f9;
    outline: 0; }

textarea, select, input[type] {
  color: #4a4a4a;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #C7E3BE;
  border: 1px solid #C7E3BE;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
  textarea:focus, select:focus, input[type]:focus {
    border: 1px solid #338618;
    outline: 0; }

label, legend, fieldset {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

.displacy, svg {
  width: 100%;
}

.badge {
  font-size: 2rem !important;
}

ul { margin: 0; padding: 0; display: flex; list-style-type: none; }
li > * { padding: 1em; }
li.active > a { color: #5e5e5e; border-bottom: 2px solid #4a4a4a; }
form > * { padding-right: 1em; }
#result { font-weight: bold; }
textarea, label, input {
  width: 100%;
}
textarea {
  text-align: justify;
 }

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  font-size: 0.9em;
}

p.sparse {
  line-height: 2;

}

.heading {
  text-align: center;
  color: 	#505050;
  padding-bottom: 4rem;
}

#searchintro {
  text-align: center;
  padding: 3rem;
}

#visit {
  text-align: center;
  padding: 2rem;
}

#alpha {
  color: #707070;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h5 {
  color: #707070;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}

.law-options {
  text-align: center;
  padding: 1.5rem;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

textarea {
  width: 100%;
}
.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.searchIcon {
  padding: 0.5rem;
  margin-right: 1%;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  width: 75%;
}

.searchButton {
  background: #538AC5;
  border: 0;
  color: white;
  padding: 0.5rem;
  border-radius: 0;
  width: 15%;
  margin-left: 5%;
}

#quote {
  font-style: italic;
  text-align: center;
  padding-top: 1rem;
  padding: 2rem;
}

.no-linter {
  color: white;

}
