<p>
  {{ initialStatuteID | statute2url }} με τις αλλαγές του {{ finalStatuteID | statute2url}}
</p>
<mat-grid-list cols="10" rowHeight="100px">
  <mat-grid-tile>Εμφάνιση</mat-grid-tile>
  <mat-grid-tile colspan='4' >
      <div fxFlex fxLayoutAlign="start center">
        <mat-button-toggle-group name="outputFormat" aria-label="Στύλ Εμφάνισης" [(ngModel)]="outputFormat" (change)="showdiff();">
          <mat-button-toggle value="side-by-side"> <mat-icon>compare</mat-icon> Παράθεση</mat-button-toggle>
          <mat-button-toggle value="line-by-line"> <mat-icon>format_align_justify</mat-icon> Γραμμές</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>Κείμενο</mat-grid-tile>
  <mat-grid-tile colspan='4'>
      <div fxFlex fxLayoutAlign="start center">
        <mat-button-toggle-group name="contentMode" aria-label="Στύλ Εμφάνισης" [(ngModel)]="stripContextMode" (change)="getDiff();">
          <mat-button-toggle value="false"> <mat-icon>view_headline</mat-icon> Όλο</mat-button-toggle>
          <mat-button-toggle value="true"> <mat-icon>wrap_text</mat-icon> Απόσπασμα</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
  </mat-grid-tile>
</mat-grid-list>



<div [innerHtml]="outputHtml"></div>
