@import '~@angular/material/theming';

@mixin vis-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-dark: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $typographyConfig: mat-typography-config();
 
  

.vis-text.vis-minor {

  color: #FFFFFF!important;

}




}