<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-1 pb-0" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
      <div class="propic text-center">
        <img src="assets/images/logos/ia_logo.png" alt="Internet Archive">
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title">Internet <b>Archive</b></div>
        <div class="subtitle mb-05">Greek Journal Collection</div>
        <div class="text-muted">Τα τεύχη των ΦΕΚ αρχειοθετούνται αυτόματα στη σελίδα του Internet Archive</div>
      </div>
      <div class="profile-actions mb-1" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Collection</button>
        <span fxFlex="8px"></span>
        <button mat-raised-button color="accent">API</button>
      </div>
      <div class="profile-nav">
        <mat-nav-list>
          <mat-list-item routerLink="/iaindex/overview" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>
            Επισκόπηση
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/iaindex/table" routerLinkActive="list-item-active">
            <mat-icon>settings</mat-icon>
            Λίστα
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/iaindex/blank" routerLinkActive="list-item-active">
            <mat-icon>content_paste</mat-icon>
            Σχετικά
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-card>

    <!-- Chart grid -->
    <mat-card class="default">
      <mat-card-title>Στατιστικά</mat-card-title>
      <mat-card-content>
          <!-- stat detail lines-->
          <div class="user-details">
            <p><mat-icon class="text-muted">done_all</mat-icon> Σύνολο {{ stats.res_count_total }}</p>
            <p><mat-icon class="text-muted">done</mat-icon>Τελέυταίο χρόνο {{stats.res_count_lastyear }}</p>
            <p><mat-icon class="text-muted">done</mat-icon> Τελέυταίο μήνα {{stats.res_count_lastmonth }}</p>
            <p><mat-icon class="text-muted">done</mat-icon> Τελευταία εβδομάδα {{stats.res_count_lastweek }}</p>
          </div>
        </mat-card-content>
    </mat-card>
    <!-- Contact Information -->
    <mat-card class="default">
      <mat-card-title>Contact Information</mat-card-title>
      <mat-card-content class="pt-0">
        <mat-list>
          <mat-list-item><mat-icon class="mr-1">public</mat-icon> www.ellak.gr</mat-list-item>
          <mat-list-item><mat-icon class="mr-1">email</mat-icon> 3gm@ellak.gr</mat-list-item>
          <mat-list-item><mat-icon class="mr-1">phone</mat-icon> 8801822778800</mat-list-item>
          <mat-list-item><mat-icon class="mr-1">add_location</mat-icon> Athns , GREECE</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

<!-- Iarchive Views -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    <router-outlet></router-outlet>
  </div>
</div>