{% extends 'layout.html' %}
{% block body %}

<h1>Codification Results</h1>

These are the results for codifying {{ data['law'] }}

<h1>Contents</h1>

{{ content }}

<h1>Amendments</h1>

<h4>This law amends the following laws</h4>

{% for amendment in amendments %}
  <p>{{ amendment['paragraph'] }}</p>

  <!-- <p>{{ amendment['tree'] }}</p> -->


  <p>{{ amendment['badges'] | safe }}</p>
  <hr>

{% endfor %}


<h1>Links and References</h1>

This law is linked by:

<ol>
  {% for ref in refs %}
    <li><a href="{{ url_for('codify_law', identifier=ref )}}">{{ ref }}</a></li>
  {% endfor %}
</ol>

<br>

{% for text, tags in links.items() %}

  <h5>Text</h5>
  <p>{{ text }}</p>

  <h5>Tags</h5>
  {% for t in tags %}
    <p>{{ t | render_badges | safe }}</p>
  {% endfor %}

  <p>Status: </p>

  <hr>

{% endfor %}



{% endblock %}
