{% extends 'layout.html' %}
{% block body %}


<script type="text/javascript">
$(function() {
    $("#autocomplete").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term,
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 1,
        select: function(event, ui) {
            console.log(ui.item.value);
        }
    });
})

</script>

<h1>Codification</h1>

<p>Select a law from below: </p>

<form id="codify" action = "/codify_law" method = "POST">
<input name="law" id="autocomplete"></input>
<br>
<input type="submit" value="Codify">
</form>

<h2>Examples</h2>

You can try the following examples in the searchbar:

<ol>
  <li>ν. 4511/2018</li>
  <li>ν. 4001/2011</li>
</ol>



{% endblock %}
