<!doctype html>
<title>3gm Demonstration</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<script src="http://d3js.org/d3.v3.min.js"></script>


<style>

  ul { margin: 0; padding: 0; display: flex; list-style-type: none; }
  li > * { padding: 1em; }
  li.active > a { color: #5e5e5e; border-bottom: 2px solid #4a4a4a; }
  form > * { padding-right: 1em; }
  #result { font-weight: bold; }
  textarea, label, input {
    width: 100%;
  }
  textarea {
    text-align: justify;
   }


</style>
<body>
<ul>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="/codification">Codification</a>
  </li>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="{{ url_for('index', js='plain') }}">Syntactic Analysis</a>
  </li>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="https://github.com/eellak/gsoc2018-3gm">Project Homepage</a>
  </li>
</ul>
<br>

{% block body %}{% endblock %}



</body>
