<!doctype html>
<title>3gm</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<script src="http://d3js.org/d3.v3.min.js"></script>

<body>
<ul>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="/codification">Codification</a>
  </li>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="{{ url_for('index', js='plain') }}">Syntactic Analysis</a>
  </li>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="https://github.com/eellak/gsoc2018-3gm">Project Homepage</a>
  </li>
</ul>
<br>

{% block body %}{% endblock %}



</body>
