@import '~@angular/material/theming';

@mixin vis-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-dark: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $typographyConfig: mat-typography-config();
 
  
 .vis-time-axis .vis-text { 
    color:map-get($foreground, status-bar) !important;
    font-weight: bolder;
  }

.vis-text.vis-minor {

  color: map-get($foreground, status-bar) !important;
  font-weight: bolder;

}

}