
<p>Η Πύλη αυτόματης Κωδικοποίησης της Ελληνικής Νομοθεσίας αποτελεί μια προσέγγιση 
  αυτόματης συγκέντρωσης και ενοποίησης νομοθετημάτων , τα οποία είναι οργανωμένα 
  σύμφωνα με επικαιροποιημένα πρότυπα και διατίθενται δωρεάν στο ευρύ κοινό. 
</p>
<p>
Βασικός σκοπός του έργου είναι να αναπτύξει και ολοκληρώσει μια οντολογία περιγραφής της ελληνικής νομοθεσίας,
να δώσει μια σειρά εργαλείων που βοηθούν την παραγωγή κανονιστικών διατάξεων σε κάθε στάδιο της διαδικασίας σύμφωνα με την ανωτέρω οντολογία,
να φτιάξει έναν μηχανισμό μετατροπής υφιστάμενων νομοθετημάτων σε μορφή συμβατή με την οντολογία,
 να φτιάξει μια πύλη στην οποία θα συγκεντρώνεται η κωδικοποιημένη νομοθεσία με δυνατότητες αναζήτησης 
 και να παράσχει το σύνολο των κωδικοποιημένων νομοθετημάτων στους πολίτες. 
</p>
