<div >
  <mat-sidenav-container>
    <mat-sidenav EgretSideNavToggle class="shop-sidebar">
      <div class="shop-filters-wrap">
        <form [formGroup]="filterForm">
          <mat-accordion multi="true" displayMode="flat">
            <!-- Categories -->
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Είδος
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="product-categories">
                <li [ngClass]="{'fw-500': activeType===''}" (click)="setActiveType('')">Όλα</li>
                <li [ngClass]="{'fw-500': activeType==='l'}" (click)="setActiveType('l')">Νόμοι</li>
                <li [ngClass]="{'fw-500': activeType==='pd'}" (click)="setActiveType('pd')">Π.Δ</li>
              </ul>
            </mat-expansion-panel>
            <!-- Price -->
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Έτος ( {{ (filterForm.controls['year']['value'] || 2018).toString() | replace:'-1':'Όλα' }})
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- <p class="m-0">έτος: </p> -->
              <mat-select placeholder="Έτος"  [formControl]="filterForm.controls['year']" name="filter_year" id="filter_year" class="mb-5">
                  <mat-option [value]=-1 >Όλα</mat-option>
                  <mat-option *ngFor="let year of years" [value]="year.value" ngDefaultControl>
                    {{year.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-expansion-panel>
            <!-- Ratings -->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Rankings
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="m-0">Min: {{filterForm.controls['minRating']['value'] || 1}}</p>
              <mat-slider class="full-width mb-1" [formControl]="filterForm.controls['minRating']" [thumbLabel]="true" [max]="filterForm.controls['maxRating']?.value - 1"
                [min]="1"></mat-slider>
  
              <p class="m-0">Max: {{filterForm.controls['maxRating']['value'] || 5}}</p>
              <mat-slider class="full-width mb-1" [formControl]="filterForm.controls['maxRating']" [thumbLabel]="true" [max]="5" [min]="filterForm.controls['minRating']?.value + 1"></mat-slider>
            </mat-expansion-panel>
          </mat-accordion>
        </form>
      </div>
    </mat-sidenav>
    <div class="shop-wrap" fxLayout="row" fxLayoutWrap="wrap">

<!-- <mat-grid-list cols="12" rowHeight="80px">
  <mat-grid-tile colspan='4'>
   <div fxFlex fxLayoutAlign="start center">
     <mat-form-field class="margin-333" style="width: 100%">
         <input 
         #filter_text
         id="filter_text"
         matInput 
         [(ngModel)]="selectedName"
         placeholder="πληκτρολογείστε ένα νόμο" 
         value=""
         (keyup)='onFilterChanged($event)'
         />
         <button mat-button *ngIf="selectedName" matSuffix mat-icon-button aria-label="clear" (click)="selectedName='';onFilterChanged(filter_text);">
           <mat-icon>close</mat-icon>
         </button>
       </mat-form-field>
 </div>
</mat-grid-tile>
<mat-grid-tile>Είδος</mat-grid-tile>
<mat-grid-tile colspan='4'>
  <div fxFlex fxLayoutAlign="start center">
   <mat-button-toggle-group #group="matButtonToggleGroup" id="filter_type" placeholder="Είδος" [(ngModel)]="selectedType" (change)="onFilterChanged($event)">
       <mat-button-toggle value="l" id="filter_type_l" >
           <mat-chip mat-sm-chip [color]="'accent'" [selected]="false">Νόμος</mat-chip>
       </mat-button-toggle>
       <mat-button-toggle value="pd" id="filter_type_pd">
           <mat-chip mat-sm-chip [color]="'warn'" [selected]="false">Π.Δ</mat-chip>
       </mat-button-toggle>
     </mat-button-toggle-group>
     </div>
</mat-grid-tile>
<mat-grid-tile colspan='3'>
   <div fxFlex fxLayoutAlign="start center">
     <mat-select (selectionChange)="onFilterChanged($event)"  placeholder="Έτος" [(ngModel)]="selectedYear" name="filter_year" id="filter_year" class="mb-5">
       <mat-option [value]=-1 >--</mat-option>
       <mat-option *ngFor="let year of years" [value]="year.value" ngDefaultControl>
         {{year.viewValue}}
       </mat-option>
     </mat-select>
     </div>
   </mat-grid-tile>

</mat-grid-list> -->

    <!-- Right side -->
    <div class="full-width">
              <!-- Search Form -->
              <div fxLayout="row" fxLayout.lt-sm="column" class="shop-top-toolbar">
                  <button mat-icon-button class="mr-1" (click)="toggleSideNav()"><mat-icon>short_text</mat-icon> </button>
                  <div class="product-search-wrap">
                    <form [formGroup]="filterForm">
                      <input type="text" name="searchProduct" placeholder="Αναζήτηση" class="product-search default-bg full-width" [formControl]="filterForm.controls['search']">
                    </form>
                  </div>
                  <!-- View change buttons and cart -->
                  <span fxFlex></span>
                  <div [fxHide.lt-md]="true">
                    <button mat-icon-button [color]="viewMode === 'list-view' ? 'primary' : ''" (click)="viewMode = 'list-view'">
                      <mat-icon>format_list_bulleted</mat-icon>
                    </button>
                    <button mat-icon-button [color]="viewMode === 'grid-view' ? 'primary' : ''" (click)="viewMode = 'grid-view'">
                      <mat-icon>apps</mat-icon>
                    </button>
                  </div>
                  <span fxFlex="20px"></span>
                  <button mat-raised-button color="primary" routerLink="/shop/cart">
                    <mat-icon>description</mat-icon> Σύνολο (  {{ table.rowCount || 0 }} )
                  </button>
                </div>
                <!-- Laws Table container -->

        <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
          <mat-card-content class="p-0">
            <ngx-datatable
                  #table
                  class="material ml-0 mr-0"
                  [rows]="apiitems  | async"
                  [columnMode]="'flex'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [limit]="10"
                  [rowHeight]="'auto'"
                  [selectionType]="'single'"
                  (activate)="rowClick($event)" 
                  >
                  <ngx-datatable-column name="Όνομα" prop="name" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.type=='l'">{{row.type=='l' ? 'Νόμος' : 'Π.Δ'}}</mat-chip>
                      {{ row?.name }} / {{ row?.year }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Έτος" prop="year" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.year }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Κατάταξη" prop="rank" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <mat-chip *ngIf="row.rank>0"  [color]="'primary'">{{row.rank}}</mat-chip>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Actions" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <button mat-icon-button mat-sm-button color="'primary'" class="mr-1" (click)="openPopUp(e,row)"  matTooltip="Πληροφορίες"><mat-icon>info</mat-icon></button>
                      <button mat-icon-button mat-sm-button color="'warn'"  [routerLink]="['/statute/', row._id]"  matTooltip="Προβολή" ><mat-icon>dehaze</mat-icon></button>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
          </mat-card-content>
        </mat-card>
    
    </div>

</div>
</mat-sidenav-container>
</div>