/* You can add global styles to this file, and also import other style files */



.vis-panel {
    box-sizing: content-box;
}

/* flex utility classes */
.fill-remaining-space{
    flex: 1 1 auto;
}

/* rotations */
.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
