{% extends 'layout.html' %}
{% block body %}

<ul class='law-options'>
<li><a href="{{ url_for('history', identifier=data['law'] )}}">Δείτε το πλήρες ιστορικό του {{ data['law'] }}</a></li>
<li><a href="{{ url_for('codify_law', identifier=data['law'] )}}">Δείτε την τρέχουσα έκδοση του {{ data['law'] }}</a></li>
<li><a href="{{ url_for('links', identifier=data['law'] )}}">Δείτε του συνδέσμους στον {{ data['law'] }}</a></li>
</ul>


<h1>Τροποποιήσεις</h1>

<h4>Το τρέχον νομοθέτημα τροποπoιεί τα εξής νομοθετήματα</h4>

{% for amendment in amendments %}
  <p>{{ amendment['paragraph'] }}</p>

  {% for b in amendment['badges'] %}
  <p>{{ b | render_badges_from_tree | safe }}</p>

  {% endfor %}

  <hr>

{% endfor %}


{% endblock %}
