{% extends 'layout.html' %}
{% block body %}


<script type="text/javascript">
$(function() {
    $("#autocomplete").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term,
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 1,
        select: function(event, ui) {
            console.log(ui.item.value);
        }
    });
})

</script>




<div class='heading'>
  <h1>Καλώς ήλθατε στο 3gm</h1>
  <h3 id="alpha">πειραματική έκδοση</h3>
  <div class='container'>
    <div class='row'>
      <div class='col-4'>
        <h1>{{ num_laws }}</h1>
        <br> <h4>ΝΟΜΟΘΕΤΗΜΑΤΑ</h4>
      </div>
      <div class='col-4'>
        <h1>{{ num_links }}</h1>
        <br> <h4>ΣΥΝΔΕΣΜΟΙ</h4>
      </div>

      <div class='col-4'>
        <h1>{{ num_topics }}</h1>
        <br> <h4>ΘΕΜΑΤΙΚΕΣ ΕΝΟΤΗΤΕΣ</h4>
      </div>
    </div>
  </div>
</div>


  <div class="typewriter">
    <h5 id="searchintro">Πληκτρολογήστε ένα νομοθέτημα (π.χ. 4009/2011) </h5>
  </div>
<form id="codify" action = "/codify_law" method = "POST">
<input name="law" id="autocomplete"></input>
<br>
<input type="submit" value="Κωδικοποίηση">
</form>


<p id="visit"><a href="/legal_index">Επισκεφθείτε το ευρετήριο</a></p>



{% endblock %}
