{% extends 'layout.html' %}
{% block body %}

<h3>Αποτελέσματα Κωδικοποίησης για τον {{ data['law'] }}</h3>

<ul class='law-options navbar-ul'>
<li><a href="{{ url_for('history', identifier=data['law'] )}}">Δείτε το πλήρες ιστορικό του {{ data['law'] }}</a></li>
<li><a href="{{ url_for('amendment', identifier=data['law'] )}}">Δείτε τους νόμους που τροποποιεί ο {{ data['law'] }}</a></li>
<li><a href="{{ url_for('links', identifier=data['law'] )}}">Δείτε του συνδέσμους στον {{ data['law'] }}</a></li>
</ul>


<h3>Τρέχουσα έκδοση του {{ data['law'] }}</h3>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h3 class="lg-0">
        <button class="btn btn-link" data-toggle="collapse" aria-expanded="false" data-target="#collapseOne" aria-controls="collapseOne">
          <h1>Τρέχουσα έκδοση {{ data['law'] }}</h1>
        </button>
      </h3>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{ content | safe }}
      </div>
    </div>
  </div>
  </div>



{% if topics %}
<h2>Θεματικές Ενοτητες</h2>

<p class="sparse">Ετικέτες: {{ topics['keywords'] | render_badges_single('info') | safe }}</p>

<p>Παρόμοια Νομοθετήματα (με χρήση LDA):

<ol>
  {% for ref in topics['statutes'] %}
    <li><a href="{{ url_for('codify_law', identifier=ref )}}">{{ ref }}</a></li>
  {% endfor %}
</ol>

{% endif %}

{% if rank_txt != '' %}
  <p class="sparse">Σημαντικότητα Νόμου (με χρήση Pagerank): {{ [rank_txt] | render_badges | safe }}</p>
{% endif %}

{% endblock %}
