{% extends 'layout.html' %}
{% block body %}

<h1>Αποτελέσματα Κωδικοποίησης</h1>

Αποτελέσματα Κωδικοποίησης για το {{ data['law'] }}

<h1>Παρούσα έκδοση του {{ data['law'] }}</h1>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h3 class="lg-0">
        <button class="btn btn-link" data-toggle="collapse" aria-expanded="false" data-target="#collapseOne" aria-controls="collapseOne">
          <h1>Παρούσα έκδοση {{ data['law'] }}</h1>
        </button>
      </h3>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{ content | safe }}
      </div>
    </div>
  </div>
  </div>

<br>
  <p><a href="{{ url_for('history', identifier=data['law'] )}}">Δείτε το πλήρες ιστορικό του {{ data['law'] }}</a></p>

<br>
{% if topics %}
<p class="sparse">Ετικέτες: {{ topics['keywords'] | render_badges_single('info') | safe }}</p>

<p>Παρόμοια Νομοθετήματα:

<ol>
  {% for ref in topics['statutes'] %}
    <li><a href="{{ url_for('codify_law', identifier=ref )}}">{{ ref }}</a></li>
  {% endfor %}
</ol>
{% endif %}

<h1>Τροποποιήσεις</h1>

<h4>Το τρέχον νομοθέτημα τροποπιεί τα εξής νομοθετήματα</h4>

{% for amendment in amendments %}
  <p>{{ amendment['paragraph'] }}</p>

  {% for b in amendment['badges'] %}
  <p>{{ b | render_badges_from_tree | safe }}</p>

  {% endfor %}

  <hr>

{% endfor %}


{% if refs != [] %}
<h1>Σύνδεση με Νομοθετήματα</h1>

Τον νόμο αυτό τροποποιούν οι ακόλουθοι νόμοι

<ol>
  {% for ref in refs %}
    <li><a href="{{ url_for('codify_law', identifier=ref )}}">{{ ref }}</a></li>
  {% endfor %}
</ol>

<br>

{% for text, tags in links.items() %}

  <h5>Κείμενο Τροποποίησης</h5>
  <p>{{ text }}</p>

  <h5>Είδος Τροποποίησης</h5>
  {% for t in tags %}
    <p>{{ t | render_badges | safe }}</p>
  {% endfor %}


  <hr>

{% endfor %}

{% endif %}

{% endblock %}
