<footer>
<div class="footer">
  <hr>

  <div class="footer-copyright text-center ">Google Summer of Code 2018 &mdash; Government Gazette text mining, cross linking, and codification &mdash;	 <a href="https://github.com/papachristoumarios">Marios Papachristou</a> &mdash;
    <a href="https://github.com/eellak/gsoc2018-3gm">GitHub</a>
  </div>

  <div class="footer-copyright text-center "><a href="https://gfoss.eu">GFOSS &mdash; Open Technologies Alliance &mdash; <img height="30px" src="https://stopthecensorshipmachine.net/logos/gfoss.png"></a></div>

</div>
</footer>
