{% extends 'layout.html' %}
{% block body %}

<ul class='law-options navbar-ul'>
  <li><a href="{{ url_for('codify_law', identifier=identifier )}}">Δείτε την τρέχουσα έκδοση του {{ identifier }}</a></li>
  <li><a href="{{ url_for('amendment', identifier=identifier )}}">Δείτε τους νόμους που τροποποιεί ο {{ identifier }}</a></li>
  <li><a href="{{ url_for('links', identifier=identifier )}}">Δείτε του συνδέσμους στον {{ identifier }}</a></li>
</ul>


<h1>Ιστορικό του {{ identifier }}</h1>


<h3>Ιστορία</h3>

<div class="container">
    <ul class="timeline">
      {% for law in history | reverse %}
        {% if loop.index % 2 == 1 %}
        <li class="wow bounceInLeft">
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-check"></i></div>
        {% else %}
        <li class="timeline-inverted wow bounceInRight">
          <div class="timeline-badge dark"><i class="glyphicon glyphicon-credit-card"></i></div>
        {% endif %}
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <a href="#heading{{ loop.index }}">
                {% if law.identifier == law.amendee %}
                {% set issue = law.issue %}
                Αρχική μορφή του {{ law.identifier }}, δημοσιευθείς στο {{ law.amendee | gg_link }}
                {% else %}
                Εμφάνιση του {{ law.identifier }} μέχρι και τις αλλαγές του {{ law.amendee }}
                {% endif %}
              </a></h4>
            </div>
            <div class="timeline-body">
                <p>{{ law.summary }}</p>
                <p><a href="{{ law.amendee | archive_link }} ">
                  Δεσμός στο Internet Archive
                </a></p>
            </div>
          </div>
        </li>
    {% endfor %}
    </ul>
</div>

<h3>Πλήρες Ιστορικό</h3>

<div id="accordion">
  {% for law in history | reverse %}
  <div class="card">
    <div class="card-header" id="heading{{ loop.index }}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" aria-expanded="false" data-target="#collapse{{ loop.index }}" aria-controls="collapse{{ loop.index }}">
          <h1>
            {% if law.identifier == law.amendee %}
            Αρχική μορφή του {{ law.identifier }}
            {% else %}
            Εμφάνιση του {{ law.identifier }} μέχρι και τις αλλαγές του {{ law.amendee }}
            <a class="btn btn-link" href="{{ url_for('diff', identifier=identifier, initial=identifier, final=law.amendee) }}"><h3>Διαφορές</h3></a>
            {% endif %}
          </h1>
        </button>
      </h5>
    </div>

    <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
      <div class="card-body">
        <h5>Κείμενο</h5>
        {{ law.content | render_md | safe }}

        <br>
        {% if law.amendee != law.identifier %}
        <h5>Σύνδεσμοι</h5>
        <h5>Εφαρσμοσμένοι</h5>
        {% for text, tags in links %}
        {% if tags[0] == 'τροποποιητικός' and tags[1] == law.amendee and tags[2] == 'εφαρμοσμένος'%}
        <h5>Κείμενο Τροποποίησης</h5>
        <p>{{ text }}</p>

        <h5>Είδος Τροποποίησης </h5>
        <p>{{ tags | render_badges | safe }}</p>
        <hr>
        {% endif %}
        {% endfor %}

        <h5><br>Μη Εφαρσμοσμένοι</h5>
        {% for text, tags in links %}
        {% if tags[0] == 'τροποποιητικός' and tags[1] == law.amendee and tags[2] == 'μη εφαρμοσμένος'%}
        <h5>Κείμενο Τροποποίησης</h5>
        <p>{{ text }}</p>

        <h5>Είδος Τροποποίησης </h5>
        <p>{{ tags | render_badges | safe }}</p>
        <hr>
        {% endif %}
        {% endfor %}
        {% endif %}


      </div>
    </div>
  </div>


  {% endfor %}
</div>


{% endblock %}
