{% extends 'layout.html' %}
{% block body %}

<ul class='law-options'>
<li><a href="{{ url_for('codify_law', identifier=data['law'] )}}">Δείτε την τρέχουσα έκδοση του {{ data['law'] }}</a></li>
<li><a href="{{ url_for('amendment', identifier=data['law'] )}}">Δείτε τους νόμους που τροποποιεί ο {{ data['law'] }}</a></li>
<li><a href="{{ url_for('links', identifier=data['law'] )}}">Δείτε του συνδέσμους στον {{ data['law'] }}</a></li>
</ul>


<h1>Ιστορικό του {{ identifier }}</h1>


<h3>Ευρετήριο</h3>

<ol>
  {% for law in history | reverse %}
  <li><a href="#heading{{ loop.index }}">
    {% if law.identifier == law.amendee %}
    {% set issue = law.issue %}
    Αρχική μορφή του {{ law.identifier }}, δημοσιευθείς στο {{ issue }}
    {% else %}
    Εμφάνιση του {{ law.identifier }} μέχρι και τις αλλαγές του {{ law.amendee }}
    {% endif %}
    <a href="{{ law.amendee | archive_link }} ">
      (Δεσμός στο Internet Archive)
    </a>
  </a></li>

  {% endfor %}
</ol>

<h3>Πλήρες Ιστορικό</h3>

<div id="accordion">
  {% for law in history | reverse %}
  <div class="card">
    <div class="card-header" id="heading{{ loop.index }}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" aria-expanded="false" data-target="#collapse{{ loop.index }}" aria-controls="collapse{{ loop.index }}">
          <h1>
            {% if law.identifier == law.amendee %}
            Αρχική μορφή του {{ law.identifier }}
            {% else %}
            Εμφάνιση του {{ law.identifier }} μέχρι και τις αλλαγές του {{ law.amendee }}
            {% endif %}
          </h1>
        </button>
      </h5>
    </div>

    <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
      <div class="card-body">
        <h5>Κείμενο</h5>
        {{ law.content | render_md | safe }}

        <br>
        {% if law.amendee != law.identifier %}
        <h5>Σύνδεσμοι</h5>

        {% for text, tags in links %}
        {% if tags[1] == law.amendee %}
        <h5>Κείμενο Τροποποίησης</h5>
        <p>{{ text }}</p>

        <h5>Είδος Τροποποίησης </h5>
        <p>{{ tags | render_badges | safe }}</p>
        <hr>

        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>


  {% endfor %}
</div>


{% endblock %}
