{% extends 'layout.html' %}
{% block body %}


<h1>Ιστορικό του {{ identifier }}</h1>

<h3>Ευρετήριο</h3>

<ol>
 <li><a href="#">Αλλαγές βάσει του ν. 4485/2017</a></li>
 <li><a href="#">Αλλαγές βάσει του ν. 4405/2016</a></li>
 <li><a href="#">Αρχική μορφή του {{ identifier }}</a></li>
</ol>


<h3>Πλήρες Ιστορικό</h3>



<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" aria-expanded="false" data-target="#collapseOne" aria-controls="collapseOne">
          <h1>Αλλαγές βάσει του ν. 4485/2017</h1>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <h5>Κείμενο</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <br>
          <h5>Σύνδεσμοι</h5>
          <h6>Κείμενο Συνδέσμου</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p><span class="badge badge-primary">προστίθεται</span> <span class="badge badge-secondary">ν. 1920/1991</span> <span class="badge badge-success">παράγραφος 4</span> <span class="badge badge-primary">εφαρμοσμένος</span></p>


      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" aria-expanded="false" data-target="#collapseTwo" aria-controls="collapseTwo">
          <h1>Αλλαγές βάσει του ν. 4405/2016</h1>
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        {{ identifier | safe }}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" aria-expanded="false" data-target="#collapseThree" aria-controls="collapseThree">
          <h1>Αρχική μορφή του {{ identifier }}</h2>
        </button>
      </h5>
    </div>

    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        {{ identifier | safe }}
      </div>
    </div>
  </div>

</div>




{% endblock %}
