<!doctype html>
<title>3gm | Κωδικοποίηση Νομοθεσίας | Πειραματική Έκδοση</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<body>
<div class="navbar">
<ul>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="/codification">Κωδικοποίηση</a>
  </li>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="/legal_index">Ευρετήριο</a>
  </li>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="{{ url_for('index', js='plain') }}">Συντακτικός Αναλυτής</a>
  </li>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="https://github.com/eellak/gsoc2018-3gm">Σελίδα Έργου</a>
  </li>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="https://github.com/eellak/gsoc2018-3gm/wiki">Wiki Έργου</a>
  </li>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a class="navbar" href="/help">Βοήθεια</a>
  </li>
</ul>
</div>


{% block body %}{% endblock %}

{% include "footer.html" %}

</body>
