{% extends 'layout.html' %}
{% block body %}

<ul class='law-options'>
<li><a href="{{ url_for('history', identifier=data['law'] )}}">Δείτε το πλήρες ιστορικό του {{ data['law'] }}</a></li>
<li><a href="{{ url_for('amendment', identifier=data['law'] )}}">Δείτε τους νόμους που τροποποιεί ο {{ data['law'] }}</a></li>
<li><a href="{{ url_for('links', identifier=data['law'] )}}">Δείτε του συνδέσμους στον {{ data['law'] }}</a></li>
</ul>

{% if links != [] %}
<h1>Σύνδεση με Νομοθετήματα</h1>

Τον νόμο αυτό τροποποιούν οι ακόλουθοι νόμοι

<ol>
  {% for txt, ref in links %}
    <li><a href="{{ url_for('codify_law', identifier=ref[1] )}}">{{ ref[1] }}</a></li>
  {% endfor %}
</ol>

<br>

<h3>Τροποποιητικοί Σύνδεσμοι</h3>
{% for text, tags in links %}
  {% if tags[0] == 'τροποποιητικός' %}

  <h5>Κείμενο</h5>
  <p>{{ text }}</p>

  <h5>Είδος</h5>

  {{ tags | render_badges | safe}}
  <hr>
  {% endif %}


{% endfor %}

<h3>Αναφορικοί Σύνδεσμοι</h3>
{% for text, tags in links %}
  {% if tags[0] == 'αναφορικός' %}

  <h5>Κείμενο</h5>
  <p>{{ text }}</p>

  <h5>Είδος</h5>
  {{ tags[:2] | render_badges | safe}}
  <hr>
  {% endif %}


{% endfor %}

{% endif %}

{% endblock %}
