.vis-panel {
    box-sizing: border-box;
}

.vis-item-content {
    color:blue!important;
}

.vis-item.red {
    color: white;
    background-color: red;
    border-color: darkred;
  }

  .vis-panel {
    box-sizing: border-box;
}