<h2>Ιστορικό</h2>

      <div [visTimeline]="visTimeline" 

           [visTimelineItems]="visTimelineItems"

           (initialized)="timelineInitialized();">
           <div class="timeline-menu">
            <button mat-raised-button class="mat-warn" (click)="fit()">Zoom in</button>

        </div>
          </div>

      <button id='addbtn' type="button" class="btn btn-default hide" (click)="addItem()">εμφάνιση</button>

      <p>

        <strong>Note:</strong> Μπορείτε να κάνετε zoom , με την χρήση των ...

      </p>
