<h2>Ιστορικό</h2>

      <div [visTimeline]="visTimeline" 

           [visTimelineItems]="visTimelineItems"

           (initialized)="timelineInitialized();">
           <div class="timeline-menu">
            <input type="button" id="zoomIn" value="Zoom in"/>
            <input type="button" id="zoomOut" value="Zoom out"/>
            <input type="button" id="moveLeft" value="Move left"/>
            <input type="button" id="moveRight" value="Move right"/>
            <input type="button" id="toggleRollingMode" value="toggleRollingMode"/>
        </div>
          </div>

      <button id='addbtn' type="button" class="btn btn-default" (click)="addItem()">εμφάνιση</button>

      <p>

        <strong>Note:</strong> Μπορείτε να κάνετε zoom , με την χρήση των ...

      </p>
