    <mat-toolbar color="primary" class="inbox-toolbar">
      <!-- Left sidebar toggle button -->
      <button mat-icon-button  fxShow [fxShow.gt-sm]="isMobile"><mat-icon>short_text</mat-icon></button>
      <!-- multiple expand and control -->
      <mat-checkbox (change)="($event.checked)? articlesaccordion.openAll() : articlesaccordion.closeAll();" class="inbox-toggle-all mr-1"><small>Όλα</small></mat-checkbox>
      <button mat-icon-button matTooltip="Προσθήκη στα αγαπημένα" class=""><mat-icon>folder_special</mat-icon></button>
      <button mat-icon-button matTooltip="Λήψη"><mat-icon>archive</mat-icon></button>
      <button mat-icon-button matTooltip="Πληροφορίες"><mat-icon>error</mat-icon></button>
      
      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>

      <mat-icon matBadge="statute.rank||1234" matBadgeColor="warn" matTooltip="Σημαντικότητα Νόμου (με χρήση Pagerank)" >equalizer</mat-icon>
    </mat-toolbar>
    
    <mat-accordion multi="true" #articlesaccordion="matAccordion">
      <mat-expansion-panel *ngFor="let article of statute.articles | keyvalue:articleComparator" (opened)="fetchArticle(article.key)"  [expanded]="expandToggleFlag" hideToggle="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-checkbox 
         
            (click)="$event.stopPropagation();" 
            class="mail-checkbox hide-on-open">
            </mat-checkbox>
            <button 
            mat-icon-button 
            matTooltip="Mark as important"
            (click)="$event.stopPropagation()" 
            class="hide-on-open text-muted mr-1"><mat-icon>star_border</mat-icon></button>

            <span class="hide-on-open">Άρθρο {{article.key}}</span>
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center" class="show-on-open">
              <!-- <img [src]="" alt="" class="inbox-face mr-1"> -->
              <i class="material-icons md-36 mr-1">description</i>
              <div fxLayout="column">
                <span class="m-0" >Άρθρο {{article.key}}</span>
                <!-- <small class="text-muted m-0">{{message.date | date}}</small> -->
              </div>
            </div>
          </mat-panel-title>
          <mat-panel-description>
          <span class="mail-subject text-sm mat-color-default">{{article._id}}</span>
          <span fxFlex></span>
          <span class="text-sm" fxHide.lt-sm="true">{{ (article?.value | keyvalue)?.length}} παραγρ.</span>
          <button mat-icon-button [matMenuTriggerFor]="msgMenu" (click)="$event.stopPropagation()" class="hidden-on-open">
            <mat-icon class="text-muted">more_vert</mat-icon>
          </button>
          <mat-menu #msgMenu="matMenu">
            <button mat-menu-item><mat-icon>print</mat-icon> Εκτύπωση</button>
            <button mat-menu-item><mat-icon>save</mat-icon> Λήψη</button>
            <button mat-menu-item><mat-icon>send</mat-icon> Αποστολή</button>
          </mat-menu>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div class="message-text">
        <p *ngFor="let paragraph of article.value | keyvalue " > 
          {{ paragraph.value.join(' ') }} 
        </p>
      </div>
      </mat-expansion-panel>
    </mat-accordion>


